<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<link rel="stylesheet" type="text/css" href="/this/help.css" />
</head>
<body>

<roundcube:include file="/includes/header.html" />

<div id="mainscreen">

<div id="pluginbody" class="uibox offset scroller">
<roundcube:object name="helpcontent" id="helpcontentframe" style="width:100%; height:99%" src="/watermark.html" />
</div>

</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
